:root {
  --text-grey: #202020;
  --medium-grey: #8f8f8f;
  --border-grey: #2d2d2d;
  --form-grey: #414141;
  --nav-grey: #101010;
  --bg: #edf5ff;
}

.text-grey {
  color: var(--text-grey);
}
.nav-grey {
  background: var(--nav-grey);
}
.form-grey {
  background: var(--form-grey);
  color: var(--text-grey);
}
